body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    font-family: sans-serif
}

h1,h2,h3 {
    line-height: 1.2;
    font-variant: small-caps
}

label {
    width: 8em;
    display: inline-block;
}

#submit {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: 1em;
    margin-left: 1em;
}

.currency {
    position: relative;
}

.currency input {
    padding-right: 15px;
    width: 6em;
}

.currency:after {
    position: absolute;
    top: 0;
    content:"€";
    right: 5px;
}
